body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Comic Sans MS', sans-serif;
}



.faded {
  color: rgba(64, 48, 117, .8); 
}

hr {
  max-width: 150px;
  border-width: 1px;
  border-color: orange;
}

header.startup {
  background-position: center;
  background-image: url("family.jpg");
  background-size: cover; 
  height: 100%
}
header.startup hr {

  margin-top: 200px;
  margin-bottom: 30px;
}

header.startup h1 {
  font-size: 2rem; 
  padding-bottom: 100px;
  font-family: fantasy;
}

.btn {
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 200px;
  font-family: 'Comic Sans MS', sans-serif;
}

.btn-md {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: rgb(170, 57, 57 );
  border-color: orange;
}

.btn-primary:hover {
  background-color: rgb(255, 170, 170);
  border-color: ;
  border-width: .5px;
  cursor: pointer;
}
  
p {
  font-family: fantasy;
  color: green;
}